
body {
	background-color: #fafae6;
	font-family: open+sans-serif;
	font-size: 18px;

}





h2 {
	text-align: left;
}





h2 {
	float: center;
}

header{
	background-color:#6495ED;
	float:left;
	height:800px;
}