

$font-family_1: open+sans-serif;
$background-color_1: #fafae6;

body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-size: 18px;
}





h2 {
	text-align: left;
}





h2 {
	float: center;
}

$background-color_1: #6495ED;

header {
	background-color: $background-color_1;
}