body{
    font-family:open+sans-serif;
    font-size:18px;
    
    
}

header {
    background-color:lightblue;
    text-align:center;
    padding:.5rem;
    color:black;
    
    
}

header>img {
    width:150px;
    height:auto;
    vertical-align: middle;
    
    
}

.headertext{
    display:inline-block;
    vertical-align: middle;
    
    
}

.subheading{
    font-size:1.1rem;
    color:black;
    font-style:italic;
    
    
}

.currentconditions{
    display:inline-block;
    margin:1rem 0rem 5rem;
    padding:1.2rem;
    vertical-align: middle
    color:purple;
    background-color:lightblue;
    border:1pt solid lightblue;
    font-size: 1.1rem;
    
    
}

.currentconditions img {
    width:100px;
    height:auto;
    
    
}