body {
	background-color: #add8e6;
	font-family: open+sans-serif;
	font-size: 18px;

}



/* Three image containers*/

.column {
	float: left;
	width: 32%;
	padding: 5px;
}




/* Clearfix (clear floats) */
.row::after {
	content: " ";
	clear: both;
	display: table;

}

