body {
	background-color: #add8e6;
	font-family: open+sans-serif;
	font-size: 18px;

}



/* Three image containers*/

.column {
	float: left;
	width: 32%;
	padding: 5px;
}




/* Clearfix (clear floats) */
.row::after {
	content: " ";
	clear: both;
	display: table;

}

.column {
		display:block;
}

	h2 {
			text-align:left;
		}	



.summary p{
	flex:auto;
	
}
	
img {
    float:left;
}
h2 {
    float:center;
}

header {
	background-color:#7788aa;
	
	
	
	
	
	
	
	
	
	
	
	